[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = http://github.com/mileszs/ack.vim.git
    ignore = untracked
[submodule ".vim/bundle/fuzzyfinder"]
	path = .vim/bundle/fuzzyfinder
	url = http://github.com/vim-bundles/fuzzyfinder.git
    ignore = untracked
[submodule ".vim/bundle/vim-matchit"]
	path = .vim/bundle/vim-matchit
	url = http://github.com/tsaleh/vim-matchit.git
    ignore = untracked
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = http://github.com/tpope/vim-markdown.git
    ignore = untracked
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = http://github.com/tpope/vim-repeat.git
    ignore = untracked
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = http://github.com/tpope/vim-surround.git
    ignore = untracked
[submodule ".vim/bundle/gist-vim"]
	path = .vim/bundle/gist-vim
	url = http://github.com/mattn/gist-vim.git
    ignore = untracked
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
    ignore = untracked
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
    ignore = untracked
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
    ignore = untracked
[submodule ".vim/bundle/html5-syntax.vim"]
	path = .vim/bundle/html5-syntax.vim
	url = http://github.com/othree/html5-syntax.vim.git
    ignore = untracked
[submodule ".vim/bundle/vimwiki"]
	path = .vim/bundle/vimwiki
	url = http://github.com/vim-scripts/vimwiki.git
    ignore = untracked
[submodule ".vim/bundle/snipmate.vim"]
	path = .vim/bundle/snipmate.vim
	url = http://github.com/msanders/snipmate.vim.git
    ignore = untracked
[submodule ".vim/bundle/bufexplorer"]
	path = .vim/bundle/bufexplorer
	url = http://github.com/markabe/bufexplorer.git
    ignore = untracked
[submodule ".vim/bundle/SyntaxAttr.vim"]
	path = .vim/bundle/SyntaxAttr.vim
	url = http://github.com/vim-scripts/SyntaxAttr.vim.git
    ignore = untracked
[submodule ".vim/bundle/ZoomWin"]
	path = .vim/bundle/ZoomWin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule ".vim/bundle/vim-align"]
	path = .vim/bundle/vim-align
	url = https://github.com/tsaleh/vim-align.git
[submodule ".vim/bundles/xml.vim"]
	path = .vim/bundles/xml.vim
	url = https://github.com/vim-scripts/xml.vim.git
