[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = http://github.com/mileszs/ack.vim.git
    ignore = untracked
[submodule ".vim/bundle/fuzzyfinder"]
	path = .vim/bundle/fuzzyfinder
	url = http://github.com/vim-bundles/fuzzyfinder.git
    ignore = untracked
[submodule ".vim/bundle/vim-matchit"]
	path = .vim/bundle/vim-matchit
	url = http://github.com/tsaleh/vim-matchit.git
    ignore = untracked
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = http://github.com/tpope/vim-markdown.git
    ignore = untracked
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = http://github.com/tpope/vim-repeat.git
    ignore = untracked
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = http://github.com/tpope/vim-surround.git
    ignore = untracked
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
    ignore = untracked
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
    ignore = untracked
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
    ignore = untracked
[submodule ".vim/bundle/vimwiki"]
	path = .vim/bundle/vimwiki
	url = http://github.com/vim-scripts/vimwiki.git
    ignore = untracked
[submodule ".vim/bundle/snipmate.vim"]
	path = .vim/bundle/snipmate.vim
	url = http://github.com/msanders/snipmate.vim.git
    ignore = untracked
[submodule ".vim/bundle/bufexplorer"]
	path = .vim/bundle/bufexplorer
	url = http://github.com/markabe/bufexplorer.git
    ignore = untracked
[submodule ".vim/bundle/SyntaxAttr.vim"]
	path = .vim/bundle/SyntaxAttr.vim
	url = http://github.com/vim-scripts/SyntaxAttr.vim.git
    ignore = untracked
[submodule ".vim/bundle/django.vim"]
	path = .vim/bundle/django.vim
	url = https://github.com/vim-scripts/django.vim.git
[submodule ".vim/bundle/jshint.vim"]
	path = .vim/bundle/jshint.vim
	url = https://github.com/walm/jshint.vim.git
[submodule ".vim/bundle/vim-indent-object"]
	path = .vim/bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/vim-jquery"]
	path = .vim/bundle/vim-jquery
	url = https://github.com/itspriddle/vim-jquery.git
[submodule ".vim/bundle/detectindent"]
	path = .vim/bundle/detectindent
	url = https://github.com/ciaranm/detectindent.git
[submodule ".vim/bundle/MatchTag"]
	path = .vim/bundle/MatchTag
	url = https://github.com/gregsexton/MatchTag.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
