snippet blogmeta
	---

	title: ${1}
	date: `strftime("%Y/%m/%d %H:%M:%S")`
	categories: ${2:comma-separated}
	tags: ${3:article|quote|link|video|image}
	format: markdown

	---
	${4}

snippet blcode
	$$code(lang=${1})
	${2}
	$$/code
