snippet ts
	`strftime("%A, %B %d, %Y @ %R")`
snippet ds
	`strftime("%B %d, %Y")`
snippet hr
	------------------------------------------------------------------------
snippet tags
	ags: #${1:tag}
snippet img
	![${1:alt}](${2:path} "${3}")
