*.pyc
*.swp
.DS_Store
compiled.js
settings_local.py
local_settings.py
.vagrant
sitestatic
bower_components
.config/tmux/plugins/*
.config/tmux/local/plugins/*
.config/tmux/server/plugins/*
AppSupport
.zshrc.local
.zprofile.local
